:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --light-bckgrnd-color: #f5f4fa;
}
h1,
h2,
h3,
p,
ul {
  list-style-type: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  background-color: var(--white-color);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* хедер 1170*80*/
header {
  border-bottom: 1px solid #ececec;
}
ul {
  list-style-type: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  padding: 32px 0 32px 0;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .current {
  color: var(--accent-color);
}
.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.logo .accent {
  color: var(--accent-color);
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
  padding: 0;
}
.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* мейн контент */
/* перша секція */
.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
}
/* features*/
.features {
  display: flex;
}
.features .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features .item:last-child {
  margin-right: 0;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}
/* третя секція  чим ми займаємось*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.activity {
  padding-top: 0;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
.section-list {
  display: flex;
}
.section-list .item {
  margin-right: 30px;
}
.section-list .item:last-child {
  margin-right: 0;
}

/* команда */
.team {
  background-color: var(--light-bckgrnd-color);
}

.team-list {
  display: flex;
}
.team-list .item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team-list .item:last-child {
  margin-right: 0;
}
.team-list .title {
  min-width: 270px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
.team-list .text {
  min-width: 270px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}
.member-info {
  padding: 30px 0 30px 0;
}
/* футер */

.footer {
  background-color: var(--background-color);
}
.footer .logo {
  display: inline-block;
  margin-right: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  color: var(--white-color);
}
address {
  font-style: normal;
  padding-bottom: 60px;
}
a {
  color: var(--title-text-color);
  text-decoration: none;
  outline: none;
  line-height: 1.71;
}
.contacts-list {
  padding-left: 0;
}
.contacts-list .item {
  margin-bottom: 9px;
}
.contacts-list .item:last-child {
  margin-bottom: 0;
}
.footer-link {
  color: var(--white-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* portfolio */
.portfolio {
  background-color: var(--white-color);
}
.btns-list {
  display: flex;
  justify-content: center;
  width: 575px;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;
}

/* .current-btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
} */
.portfolio-btn {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;

  background-color: var(--light-bckgrnd-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
.btns-list .item + .item {
  margin-left: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

.projects-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.projects-list .item:nth-child(3n) {
  margin-right: 0;
}

.projects-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-list .info {
  padding: 20px 24px;
}
.projects-list .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-list .text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
}
